<div>
  <br /><br /><br /><br />
  <form class="form" method="post">
    <h1>Inicia sesión en tu cuenta</h1>
    <br />
    <mat-form-field appearance="legacy">
      <mat-label for="email" class="text">Email: </mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Ingresa tu email"
        required="required"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label for="password" class="text">Contraseña: </mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        name="Contraseña"
        placeholder="Ingresa tu contraseña"
        required="required"
      /> </mat-form-field
    ><br />
    <button mat-raised-button color="success" type="button" (click)="login()">
      Iniciar sesión</button
    ><br />
    <span>¿No tienes una cuenta?</span
    ><a class="lg" routerLink="/register">Registrar ahora</a>
  </form>
</div>
