<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Portal Administrador</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="./menu.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <h2 class="menu-title">Menú principal</h2>

        <div class="icon-container" id="orders">
          <img class="icon__image" src="../../assets/sheet.svg" alt="" />
          <p class="icon__text">Administrar pedidos</p>
        </div>

        <div class="icon-container" id="products">
          <img class="icon__image" src="../../assets/shirt.svg" alt="" />
          <p class="icon__text">Administrar productos</p>
        </div>

        <div class="icon-container" id="users">
          <img class="icon__image" src="../../assets/user.svg" alt="" />
          <p class="icon__text">Administrar usuarios</p>
        </div>

        <div class="icon-container" id="calendar">
          <img class="icon__image" src="../../assets/calendar.svg" alt="" />
          <p class="icon__text">Calendario</p>
        </div>

        <div class="icon-container-report" id="report">
          <p class="icon__text-report">Generar reporte de ventas</p>
        </div>
      </div>
    </main>

    <script src="./menu.js"></script>
  </body>
</html>
