.main {
  display: flex;
  height: 92%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #c9c9c9;
  width: 400px;
  padding: 0 50px;
  height: 350px;
  border-radius: 5px;
}

.method {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.price {
  font-size: 18px;
}

h1 {
  font-size: 28px;
}