<title>Proceso de pago</title>
<form action=""> 
  <main class="main">
    <div class="container-fluid payment-container font1">
      <h1 class="font" style="text-align: center; padding: 15px;">Resumen de compra</h1>
      <div>Nombre: {{user.name}} {{user.lastname}}</div>
      <br>
      <div>Se entrega en:  {{user.address}}</div>
      <hr />
      <ul>
        <li *ngFor="let orderProduct of orderProducts">
          {{ orderProduct.name }} ({{orderProduct.quantity}} Unidades): <div style="text-align: right;">${{ orderProduct.price*orderProduct.quantity | ThousandSeparator }}</div>
        </li>
        <hr />
      </ul>
      <p class="text">
        <b>Precio total:</b> ${{ finalPrice | ThousandSeparator }}
      </p>

      <ngx-stripe-card
        class="border"
        [options]="cardOptions"
        [elementsOptions]="elementsOptions"
      ></ngx-stripe-card>
      <div class="d-grid gap-2" style="padding: 15px">
        <button type="submit" (click)="pay()" class="btn btn-success">Pagar</button>
      </div>
    </div>
  </main>
</form> 
