<main class="main">
  <div class="payment-container">
    <h1 style="text-align: center">Productos</h1>
    <hr />
    <ul>
      <li *ngFor="let orderProduct of orderProducts">
        {{ orderProduct.name }} ({{orderProduct.quantity}} Unidades)
        <p class="text">${{ orderProduct.price*orderProduct.quantity | ThousandSeparator }}</p>
      </li>
      <hr />
    </ul>
    <p class="text">
      <b>Precio total:</b> ${{ finalPrice | ThousandSeparator }}
    </p>

    <ngx-stripe-card
      class="border"
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <div class="d-grid gap-2" style="padding-top: 15px">
      <button (click)="pay()" class="btn btn-success">Pagar</button>
    </div>
  </div>
</main>
