<footer>
    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="../../assets/img/cyc.png" width="120px"alt="">
            </div>
            <div class="terms">
                <p>C&C Confecciones es una microempresa dedicada a la confección de prendas de vestir, 
                   especialmente uniformes escolares para los colegios que se ubican alrededor 
                   de Talagante. </p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Información</h2>
            <p><i class="fa-solid fa-envelope"></i> cycconfecciones@hotmail.com </p>
            <p><i class="fa-solid fa-phone"></i>+56228380962 </p>
            <a href="https://www.google.com/maps/place/Volc%C3%A1n+Aconcagua+42,+Talagante,+9680288,+Regi%C3%B3n+Metropolitana/@-33.6564755,-70.9212187,17z/data=!3m1!4b1!4m5!3m4!1s0x9662e3d200a7f7f3:0x81d54932e8343517!8m2!3d-33.65648!4d-70.91903" target="_blank"><i class="fa-solid fa-location-dot"></i> Volcán Aconcagua 42, Talagante </a>
        </div>
        
        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook </a>
            <a href="https://www.instagram.com/haine.moda.cl/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram </a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter-square"></i> Twitter </a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp-square"></i> Whatsapp </a>
        </div>
    </div>
    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022</p>
        <b>CYC Confecciones</b>
    </div>
</footer>
