<title>Carrito de compras</title>
<main class="padding-top">
  <div class="centerdiv">
    <h1>Carrito de compras</h1>
    <div class="row" *ngFor="let order_product of order_products">
      <div class="row">
        <div class="col-8">
          <p><b>Producto:</b> {{ order_product?.name }}</p>
          <p><b>Código:</b> {{ order_product?.code }}</p>
          <p><b>Precio:</b> ${{ order_product?.price | ThousandSeparator }}</p>
          <p><b>Colegio:</b> {{ order_product?.institution?.name }}</p>
          <p><b>Talla:</b> {{ order_product?.size }}</p>
          <p><b>Unidades:</b> {{ order_product?.quantity }}</p>

          <button
            class="btn btn-outline-primary"
            (click)="deleteCartProduct(order_product.id)"
          >
            Eliminar
          </button>
          <hr />
        </div>
        <div class="col-4">
          <img
            class="rounded float-end img-thumbnail"
            type="button"
            routerLink="/product/{{order_product?.id}}"
            src="http://localhost:4444{{ order_product?.image?.url }}"
            width="150px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="padding-bottom: 10px">
      <button
        *ngIf="order_products.length != 0"
        (click)="goToPay()"
        class="btn btn-outline-success mx-auto"
      >
        Realizar Compra
      </button>
    </div>
    <div *ngIf="order_products.length == 0">
      <p class="noProducts">(No hay nada en el carrito)</p>
      <div class="d-grid gap-2 col-6 mx-auto" style="padding-bottom: 10px">
        <button class="btn btn-outline-success mx-auto" routerLink="/catalogue">
          Ir a catálogo
        </button>
      </div>
    </div>
  </div>
</main>
