<div>
  <h1>Notificaciones</h1>

  <div>
    <h3>Polera carolina llona</h3>
    <img src="" alt="" />
    <p>Precio</p>
    <p>Descripcion</p>
    <p>Fecha</p>
    <p>
      La cotizacion del pedido fue rechazada por la dueña, los motivos pueden
      ser: No hay materiales, no hay tiempo.
    </p>
    <button>Borrar notificacion</button>
  </div>

  <div>
    <h3>Polera Boston college</h3>
    <img src="" alt="" />
    <p>Precio</p>
    <p>Descripcion</p>
    <p>Fecha</p>
    <p>
      La cotizacion del pedido aceptada por la dueña, pulse pagar para ir a la
      pasarela de pago.
    </p>
    <button>Ir a pagar</button>
  </div>
</div>
