<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear producto</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="./new-product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="main">
      <form class="form">
        <input
          class="form__input file"
          id="file"
          type="file"
          accept="image/png/jpg"
          required
        />
        <input
          class="form__input"
          id="name"
          type="text"
          placeholder="Nombre"
          required
        />
        <input
          class="form__input"
          id="code"
          type="text"
          placeholder="Codigo"
          required
        />
        <input
          class="form__input"
          id="description"
          type="text"
          placeholder="Descripcion"
          required
        />
        <input
          class="form__input"
          id="price"
          type="number"
          placeholder="Precio"
          required
        />
        <input
          class="form__input"
          id="size"
          type="text"
          placeholder="Talla"
          required
        />
        <input
          class="form__input"
          id="stock"
          type="number"
          placeholder="Stock"
          required
        />
        <select class="form__select" id="institution"></select>
        <button class="button green" id="addProduct">Crear producto</button>
      </form>
    </main>

    <script src="./new-product.js"></script>
  </body>
</html>
