
.pad-bott{
    padding-bottom: 15px;
}
.box__product{
    
    padding: 10px;
    margin: auto;
    box-shadow: 100px;
    background-color: rgb(255, 255, 255);
    border-color: #424242;
    border-radius: 8px;
}

h3{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.price{
    font-size: 300%;
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.padding{
    padding: 5%;
}


.increase{
    float: right;
}

.quantity{
    text-align: center;
}

.border{
    border: 3px;
    color: black;
    border-radius: 8px;
    margin: auto;
    padding: 2%;
}

.divwidth{
    padding-top: 2px;
}

.font1{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}

h2{
    color: #424242;
}

.floatbottom{
    bottom: 100%;
}