<div><br><br>
    <form class="form" method="post">
        <h1>Regístrate</h1>
        <br>
        <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input matInput required type="text">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Apellido</mat-label>
            <input matInput required type="text">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Rut</mat-label>
            <input matInput required type="text">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Dirección</mat-label>
            <input matInput required type="text">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Teléfono</mat-label>
            <input matInput minlength="9" required type="tel">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput required type="email">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input matInput required type="password">
        </mat-form-field><br>
        <button mat-raised-button color="success" type="submit">Registrar</button><br>
        <span>¿Ya tienes una cuenta?</span><a class="lg" href="http://localhost:4200/login" target="_blank">Iniciar sesión</a>
        <br><br><br><br>
        </form>
  </div>






