<div>
  <br /><br />
  <form class="form">
    <h1>Regístrate</h1>
    <br />
    <mat-form-field appearance="legacy">
      <mat-label>Nombre de usuario</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.username"
        name="username"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Apellido</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.lastname"
        name="lastname"
        placeholder="apellido"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Segundo apellido</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.sec_lastname"
        name="sec_lastname"
        placeholder="segundo apellido"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Rut</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.rut"
        name="rut"
        placeholder="99.999.999-9"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Dirección</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="text"
        [(ngModel)]="newUser.address"
        name="address"
        placeholder="direccion"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Teléfono</mat-label>
      <input
        autocomplete="off"
        matInput
        [(ngModel)]="newUser.number"
        name="number"
        placeholder="+56 9 1111 1111"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="email"
        [(ngModel)]="newUser.email"
        name="email"
        placeholder="nombre@email.com"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        required
        type="password"
        [(ngModel)]="newUser.password"
        name="Contraseña"
        placeholder="**********"
      /> </mat-form-field
    ><br />
    <button
      mat-raised-button
      [disabled]="disableButton"
      color="success"
      type="button"
      (click)="register()"
    >
      Registrar</button
    ><br />
    <span>¿Ya tienes una cuenta?</span
    ><a class="lg" routerLink="/login">Iniciar sesión</a>
    <br /><br /><br /><br />
  </form>
</div>
