<section>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
    style="max-width: 1200px; margin: auto; padding-top: 30px"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/img/carrousel1.jpg"
          routerLink="/catalogo"
          type="button"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/carrousel2.jpg"
          routerLink="/producto/43"
          type="button"
          class="d-block w-100"
          alt="Buzo completo"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/carrousel3.jpg"
          routerLink="/producto/41"
          type="button"
          class="d-block w-100"
          alt="Polera piqué"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div></div>
</section>
