<nav
  class="navbar navbar-expand-lg bg-success"
  style="
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 5px;
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" style="padding-left: 15%"
      ><img
        src="./assets/img/cyc.png"
        alt=""
        width="40px"
        routerLink=""
        type="button"
    /></a>
    <button
      class="navbar-toggler "
      type="button "
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon borderco"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active, texto-nav" routerLink=""
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active, texto-nav" routerLink="/catalogue"
            >Catálogo</a
          >
        </li>
        
        <li class="nav-item" *ngIf="authService.isLogged()">
          <a class="nav-link active, texto-nav" routerLink="/notificaciones"
            >Notificaciones</a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.isLogged()">
          <a class="nav-link active, texto-nav" routerLink="/login">Ingresa</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLogged()">
          <a class="nav-link active, texto-nav" routerLink="/register"
            >Regístrate</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search" *ngIf="authService.isLogged()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
        />
      </form>
      <a
        routerLink="/cart"
        
        *ngIf="authService.isLogged()"
        ><img src="./assets/img/cart.png" alt="" width="30px"
      /></a>
      <a class="nav-item" *ngIf="authService.isLogged()" (click)="logout()" style="padding-right: 15%">
        <a class="nav-link active, texto-nav" routerLink="/catalogo"
          ><i class="fa-solid fa-arrow-right-from-bracket" alt="Cerrar Sesión"></i></a
        >
      </a>
    </div>
  </div>
</nav>
