


  <!-- <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="card" style="width: 18rem;" *ngFor="let producto of arrayProductos">
      <div class="col">
        <div class="p-3 border bg-light"> 
            <div class="card-body">
              <img src={{producto.imagen}} class="card-img-top" alt="">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <a href="#" class="btn btn-success">{{producto.precio}}</a>
      </div>
      </div>
      </div>
    </div>
  </div> -->


    <div class="col">
      <div class="p-3 border bg-light">
          <div class="card" style="width: 18rem;">
              <img src="./assets/img/catalogo/product1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
              </div>
            </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
          <div class="card" style="width: 18rem;">
              <img src="./assets/img/catalogo/product1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
              </div>
            </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
          <div class="card" style="width: 18rem;">
              <img src="./assets/img/catalogo/product1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
              </div>
            </div>
      </div>
    </div>


