<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Administador - Administrar Pedidos</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="./orders.css" />
    <link rel="stylesheet" href="./../products/products.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header__container">
          <div class="container-goback" id="goBack">
            <img src="../../assets/goBack.svg" alt="" />
          </div>

          <h1 class="title">Administrar Pedidos</h1>
        </div>

        <div class="orders-container">
          <div class="list-orders">
            <div class="order">
              <div class="row-title-container">
                <span class="row-title">Alonso Leal Pizarro</span>
              </div>
              <div class="light">
                <p class="row">Id pedido:</p>
                <p class="row">22</p>
              </div>
              <div class="dark">
                <p class="row">Direccion:</p>
                <p class="row">Independencia, calle xxx</p>
              </div>
              <div class="light">
                <p class="row">Telefono:</p>
                <p class="row">9 6353 0921</p>
              </div>
              <div class="dark">
                <p class="row">Rut:</p>
                <p class="row">99.999.999-9</p>
              </div>
              <div class="light">
                <p class="row">Codigo producto:</p>
                <p class="row">FHUNUWEUI</p>
              </div>
              <div class="dark">
                <p class="row">Fecha:</p>
                <p class="row">23/06/2022</p>
              </div>
              <div class="light">
                <p class="row">Total:</p>
                <p class="row">$11.000</p>
              </div>
              <div class="orders-buttons">
                <button class="button green">Aceptar</button>
                <button class="button red">Eliminar</button>
                <button class="button blue">Ver producto</button>
              </div>
            </div>

            <div class="order">
              <div class="row-title-container">
                <span class="row-title">Alonso Leal Pizarro</span>
              </div>
              <div class="light">
                <p class="row">Id pedido:</p>
                <p class="row">22</p>
              </div>
              <div class="dark">
                <p class="row">Direccion:</p>
                <p class="row">Independencia, calle xxx</p>
              </div>
              <div class="light">
                <p class="row">Telefono:</p>
                <p class="row">9 6353 0921</p>
              </div>
              <div class="dark">
                <p class="row">Rut:</p>
                <p class="row">99.999.999-9</p>
              </div>
              <div class="light">
                <p class="row">Codigo producto:</p>
                <p class="row">FHUNUWEUI</p>
              </div>
              <div class="dark">
                <p class="row">Fecha:</p>
                <p class="row">23/06/2022</p>
              </div>
              <div class="light">
                <p class="row">Total:</p>
                <p class="row">$11.000</p>
              </div>
              <div class="orders-buttons">
                <button class="button green">Aceptar</button>
                <button class="button red">Eliminar</button>
                <button class="button blue">Ver producto</button>
              </div>
            </div>

            <div class="order">
              <div class="row-title-container">
                <span class="row-title">Alonso Leal Pizarro</span>
              </div>
              <div class="light">
                <p class="row">Id pedido:</p>
                <p class="row">22</p>
              </div>
              <div class="dark">
                <p class="row">Direccion:</p>
                <p class="row">Independencia, calle xxx</p>
              </div>
              <div class="light">
                <p class="row">Telefono:</p>
                <p class="row">9 6353 0921</p>
              </div>
              <div class="dark">
                <p class="row">Rut:</p>
                <p class="row">99.999.999-9</p>
              </div>
              <div class="light">
                <p class="row">Codigo producto:</p>
                <p class="row">FHUNUWEUI</p>
              </div>
              <div class="dark">
                <p class="row">Fecha:</p>
                <p class="row">23/06/2022</p>
              </div>
              <div class="light">
                <p class="row">Total:</p>
                <p class="row">$11.000</p>
              </div>
              <div class="orders-buttons">
                <button class="button green">Aceptar</button>
                <button class="button red">Eliminar</button>
                <button class="button blue">Ver producto</button>
              </div>
            </div>

            <div class="order">
              <div class="row-title-container">
                <span class="row-title">Alonso Leal Pizarro</span>
              </div>
              <div class="light">
                <p class="row">Id pedido:</p>
                <p class="row">22</p>
              </div>
              <div class="dark">
                <p class="row">Direccion:</p>
                <p class="row">Independencia, calle xxx</p>
              </div>
              <div class="light">
                <p class="row">Telefono:</p>
                <p class="row">9 6353 0921</p>
              </div>
              <div class="dark">
                <p class="row">Rut:</p>
                <p class="row">99.999.999-9</p>
              </div>
              <div class="light">
                <p class="row">Codigo producto:</p>
                <p class="row">FHUNUWEUI</p>
              </div>
              <div class="dark">
                <p class="row">Fecha:</p>
                <p class="row">23/06/2022</p>
              </div>
              <div class="light">
                <p class="row">Total:</p>
                <p class="row">$11.000</p>
              </div>
              <div class="orders-buttons">
                <button class="button green">Aceptar</button>
                <button class="button red">Eliminar</button>
                <button class="button blue">Ver producto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="./orders.js"></script>
  </body>
</html>
