<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Portal Administrador - Login</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="./login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <form class="form">
          <h1>Inicia sesión en tu cuenta de administrador</h1>
          <label for="email" class="text">Email: </label>
          <input
            id="email"
            class="input"
            type="email"
            name="email"
            placeholder="Ingresa tu email"
            value="bastianhuenuqueo43@gmail.com"
            required="required"
          />
          <label for="password" class="text">Contraseña: </label>
          <input
            id="password"
            class="input"
            type="password"
            name="Contraseña"
            placeholder="Ingresa tu contraseña"
            value="conTemporalB1"
            required="required"
          />
          <button class="button green" id="loginButton">Iniciar sesión</button>
        </form>
      </div>
    </main>

    <script src="./login.js"></script>
  </body>
</html>
