
.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.show-product{ 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: auto;
  background-color: #1F2B3C;
  width: 390px;
  min-height: 680px;
  border-radius: 5px;
  overflow-y: scroll;
  margin: 5px;
}

.show-product::-webkit-scrollbar { 
  display: none; 
}

.show-product__image {
  object-fit: cover;
  height: 200px;
  width: 300px;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 26px;
  color: white;
  font-weight: 700;
}

.show-product__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 300px;
  background-color: #3f5470;
  border-radius: 10px;
}

p {
  color: white;
}