html, body {
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 97.9vh;
}

#goBack {
  cursor: pointer;
}

#goBack img{
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  justify-self: center;
}

.container-goback {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background-color: rgb(54, 54, 54);
}

.header__container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 5% 90%;
  grid-template-rows: 60px;
}

.input {
  width: 250px;
  height: 38px;
  outline: none;
  border: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  text-indent: 8px;
}

.button-radius {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

#addProduct {
  display: flex;
  justify-content: space-around;
  width: 150px;
  color: white;
  font-weight: 500;
}


.green {
  background-color: #1BB55C;
}

.blue {
  background-color: #246CD0;
}

.red {
  background-color: #BE4040;
}