<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Administador - Administrar Usuarios</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../products/products.css" />
    <link rel="stylesheet" href="./users.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header__container">
          <div class="container-goback" id="goBack">
            <img src="../../assets/goBack.svg" alt="" />
          </div>

          <h1 class="title">Administrar Pedidos</h1>
        </div>

        <div class="users-container">

          <div class="search-container">
            <input class="input" type="text"  placeholder="Buscar..." />
            <button class="button-radius green">
              <img src="../../assets/plus.svg"></img>
            </button>
          </div>

          <div class="list-users">
            
          </div>  

        </div>
      </div>
    </main>
    <script src="./users.js"></script>
  </body>
</html>
